.ini {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 35px;
    text-align: center;
}

.paises { }

img:hover {
    transition: 2s all;
    opacity: 50%;
}
.pais {
    width: 51%;
}

.titulo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}