<ion-header>
  <ion-toolbar>
    <ion-icon class="ceta" name="arrow-back" expand="full" routerLink="/home"></ion-icon>
    <ion-title>Paises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="paises">
    <ion-card-title class="titulo">Estados Unidos da América</ion-card-title>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"></ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum a augue
        a
        condimentum. Curabitur massa mi, varius vitae. </ion-card-subtitle>
    </ion-col>
    <hr>
    <br>
  </ion-card>
</ion-content>