@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.paises {

}

.pais {
    width: 51%;
}

.titulo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}