<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
  <ion-toolbar>
    <ion-icon class="ceta" name="arrow-back" expand="full" routerLink="/home"></ion-icon>
    <ion-title class="ini">Paises</ion-title>
    <ion-searchbar placeholder="Pesquisar Países" [value]="lpaises"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<br>

<ion-content>
  <ion-card class="paises">
    <ion-card-title class="titulo">Estados Unidos da América</ion-card-title>
    <h5>Problema: Poluição</h5>
    <h5>Solução: Reduzir as fábricas</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> Os Estados Unidos da América (em inglês: United States of America), ou
        simplesmente Estados Unidos, são uma república constitucional federal composta por 50 estados e um distrito
        federal. A maior parte do país situa-se na região central da América do Norte, formada por 48 estados e
        Washington, D.C.O distrito federal da capital. </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
  <ion-card class="paises">
    <ion-card-title class="titulo">Portugal</ion-card-title>
    <h5>Problema: Pobreza</h5>
    <h5>Solução: Doar</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/2000px-Flag_of_Portugal.svg.png">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> Portugal, oficialmente República Portuguesa,[11][nota 9] é um país soberano[nota 10] unitário localizado no sudoeste da Europa, cujo território se situa na zona ocidental da Península Ibérica e em arquipélagos no Atlântico Norte. O território português tem uma área total de 92 090 km²,[12] sendo delimitado a norte e leste por Espanha e a sul e oeste pelo oceano Atlântico </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
  <ion-card class="paises">
    <ion-card-title class="titulo">Médio Oriente</ion-card-title>
    <h5>Problema: Guerras Santas</h5>
    <h5>Solução: Ter tolerancia religiosa</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Middle_East_%28orthographic_projection%29.svg/553px-Middle_East_%28orthographic_projection%29.svg.png">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> O Médio Oriente (português europeu) ou Oriente Médio (português brasileiro) (em árabe الشرق الأوسط, ash-sharq-al-awsat) é um termo que se refere a uma área geográfica à volta das partes leste e sul do mar Mediterrâneo. É um território que se estende desde o leste do Mediterrâneo até ao golfo Pérsico </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
  <ion-card class="paises">
    <ion-card-title class="titulo">Rússia</ion-card-title>
    <h5>Problema: Poluição</h5>
    <h5>Solução: Reduzir as fábricas</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> Rússia é o país com maior área do planeta, cobrindo mais de um nono da área terrestre. É também o nono país mais populoso, com 142 milhões de habitantes. Faz fronteira com os seguintes países, de noroeste para sudeste: Noruega, Finlândia, Estônia, Letônia, Lituânia e Polônia (ambas através do exclave de Kaliningrado), Bielorrússia, Ucrânia, Geórgia, Azerbaijão, Cazaquistão, China, Mongólia e Coreia do Norte. </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
  <ion-card class="paises">
    <ion-card-title class="titulo">França</ion-card-title>
    <h5>Problema: Terrorismo</h5>
    <h5>Solução: Investir em mais segurança nas Cidades Francesas</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> A França oficialmente República Francesa é um país, ou, mais especificamente, um Estado unitário localizado na Europa Ocidental, com várias ilhas e territórios ultramarinos noutros continentes. </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
  <ion-card class="paises">
    <ion-card-title class="titulo">Venezuela</ion-card-title>
    <h5>Problema: Política / Fome</h5>
    <h5>Solução: Derrubar o regime de Maduro</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/commons/0/06/Flag_of_Venezuela.svg">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> Venezuela, oficialmente República Bolivariana da Venezuela, é um país da América localizado na parte norte da América do Sul, constituída por uma parte continental e um grande número de pequenas ilhas no Mar do Caribe, cuja capital e maior aglomeração urbana é a cidade de Caracas. Possui uma área de 916 445 km², sendo o 32º maior país no mundo em território. Suas fronteiras são delimitadas a norte com o Mar do Caribe, a oeste com a Colômbia, ao sul com o Brasil. </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
  <ion-card class="paises">
    <ion-card-title class="titulo">África</ion-card-title>
    <h5>Problema: Pobreza</h5>
    <h5>Solução: Doar</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Africa_%28orthographic_projection%29.svg/250px-Africa_%28orthographic_projection%29.svg.png">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> A África é o terceiro continente mais extenso (depois da Ásia e da América) com cerca de 30 milhões de quilômetros quadrados, cobrindo 20,3 % da área total da terra firme do planeta. É o segundo continente mais populoso da Terra (atrás da Ásia) com cerca de um bilhão de pessoas (estimativa para 2005 [1]), representando cerca de um sétimo da população mundial, e 54 países independentes. </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
  <ion-card class="paises">
    <ion-card-title class="titulo">México</ion-card-title>
    <h5>Problema: Pobreza</h5>
    <h5>Solução: Doar</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Flag_of_Mexico.svg/1200px-Flag_of_Mexico.svg.png">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> México, oficialmente Estados Unidos Mexicanos, é uma república constitucional federal localizada na América do Norte. O país é limitado a norte pelos Estados Unidos; ao sul e oeste pelo Oceano Pacífico; a sudeste pela Guatemala, Belize e Mar do Caribe; a leste pelo Golfo do México. </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
  <ion-card class="paises">
    <ion-card-title class="titulo">Brasil</ion-card-title>
    <h5>Problema: Posse de arma</h5>
    <h5>Solução: Manifestar</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> Brasil, oficialmente República Federativa do Brasil é o maior país da América do Sul e da região da América Latina, sendo o quinto maior do mundo em área territorial (equivalente a 47,3% do território sul-americano) e quinto em população (com mais de 210 milhões de habitantes).É o único país na América onde se fala majoritariamente a língua portuguesa e o maior país lusófono do planeta. </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
  <ion-card class="paises">
    <ion-card-title class="titulo">índia</ion-card-title>
    <h5>Problema: Pobreza</h5>
    <h5>Solução: Doar</h5>
    <ion-col size="6">
      <ion-img class="pais" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Flag_of_India.svg">
      </ion-img>
    </ion-col>
    <ion-col>
      <ion-card-subtitle class="titulo"> Índia (em hindi: भारत, Bhārat) oficialmente denominada República da Índia é um país da Ásia Meridional. É o segundo país mais populoso, o sétimo maior em área geográfica e a democracia mais populosa do mundo. Delimitada ao sul pelo Oceano Índico, pelo mar da Arábia a oeste e pelo golfo de Bengala a leste, a Índia tem uma costa com 7 517 km de extensão. </ion-card-subtitle>
    </ion-col>
  </ion-card>
  <br>
</ion-content>